{% extends 'gallery/base.html' %} {% load bootstrap3 %} {% load static %} {% block content%} {% block styles %} {{block.super}}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="header">
                <div id="title">
                    <h1 class="text-center" id="logo">Snaps Gallery</h1>
                    <!-- <h5>All your meals in one place</h5> -->
                </div>
            </div>

        </div>
    </div>




    <div class="container">
        {% for location in locations %}
        <div class="categories " class="text-center">

            <form role="search" action="{% url 'locationPhoto'%}">

                <input type="submit" class="form-control" placeholder="Search category" name="location" value="{{location.name}}">

            </form>

        </div>

        {%endfor %}
        <div class="container-fluid">


            <div class="row">
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="photo">
                            <img src="{{photo.Image_url.url}}" alt="searched photo {{message}}" class="img-responsive" data-toggle="modal" data-target="#exampleModalCenter">
                            <button class="btn" data-clipboard-text="http://127.0.0.1:8000{{photo.Image_url.url}}">
                                Copy photo url
                            </button>
                    
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                                <img  src=""
                                                class="showimage" class="img-responsive"alt="Image">
                                            <h3 class="modal-title" id="exampleModalLongTitle">{{photo.title}}</h3>
                                            <h5>{{photo.Image_description}}</h5>
                                            <div class="category">
                                                <p> {{photo.image_location}} </p>
                                                <p>{{photo.image_category}}</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
        
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    {% endfor %}
        

            </div>

        </div>


        {%endblock %}