{% extends 'gallery/base.html' %}


{% block content%}
<h1 class="text-center">Photos</h1>

<div class="container">
    <div class="row">
            {% for photo in photos %}
        <div class="col-md-4">
            <h1>{{photo.Image_name}}</h1>
             <a href="{{photo.Image_url.url}}"> <img src="{{photo.Image_url.url}}" class="img-responsive" alt="Screenshot"></a>
             <p>{{photo.Image_description}}</p>
             <p>Category:{{photo.image_category}}</p>
             <p>Location:{{photo.image_location}}</p>
        </div>
        {% endfor %}
    </div>
</div>




{%endblock %}
